.order-list {
  width: 100%; /* Adjust the width as necessary */
  max-width: 1200px; /* Maximum width of the order list */
  margin: auto;
  font-family: 'Poppins', sans-serif;
}
.order-title {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0;
  padding: 20px;
}
.status-pending {
  background-color: #ff990059;
  color: #5e3902;
  padding: 3px 8px;
  border-radius: 8px;
  display: inline-block;
}
.status-accepted {
  background-color: #0d62a761;
  color: #03477f;
  padding: 3px 8px;
  border-radius: 8px;
  display: inline-block;
}
.status-inprogress {
  background-color: #7a4caf71;
  color: #400188;
  padding: 3px 8px;
  border-radius: 8px;
  display: inline-block;
}
.status-delivered {
  background-color: #4caf4f71;
  color: #023404;
  padding: 3px 8px;
  border-radius: 8px;
  display: inline-block;
}
.status-rejected {
  background-color: #f443366d;
  color: #7e0901;
  padding: 3px 8px;
  border-radius: 8px;
  display: inline-block;
}
/* Styles for each individual order item */
.order-item {
  position: relative;
  border: 1px solid #ccc;
  margin: 10px 40px;
  border-radius: 7px;
  padding: 20px;
  margin-top: 20px; /* Increased top margin for spacing */
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}
/* Header styling for each order */
.order-header {
  font-size: 18px;
  font-weight: bold;
  color: #1c2229;
  margin-bottom: 10px; /* Add spacing under headers */
}
/* Paragraph or information styling */
.order-info {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}
.order-info .info{
  font-weight: bold;
}
/* Button styling */
.details-button {
  padding: 10px 20px;
  background-color: #1c2229; /* Blue background */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  position: absolute; /* Absolute position */
  right: 20px; /* Distance from the right */
  bottom: 20px; /* Distance from the bottom */
}
/* Hover effect for the button */
.details-button:hover {
  background-color: #f4d53f;
  color: #fff;
}
/* Title styling */
h1 {
  text-align: left; /* Changed from center to left */
  color: #333;
  margin-bottom: 30px; /* Increased bottom margin for spacing between title and orders */
}