.RequestsTable{
    font-family: 'Poppins', sans-serif;
    color: #1c2229;
    padding: 20px;
}
.buttonDiv {
    display: flex;
    justify-content: center; 
    align-items: center;         
}

.tableButton {
    border: none;
    border-radius: 5px;
    padding: 8px 8px;
    background-color: #1c2229;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;   
}

.tableButton:hover {
    background-color:#595a5b;
}

.cell-content div {
    line-height: 2; /* مسافة بين السطور بنسبة 1.5 */
    text-align: center;
}

/* تنسيق سطر العنوان والبحث */
.header-row {
    display: flex;
    flex-direction: row; /* لجعل العنوان والبحث في نفس المستوى */
    justify-content: space-between; /* توزيع المسافة بين العنوان والبحث */
    align-items: center; /* محاذاة العناصر عموديًا */
    margin-bottom: 80px;
    margin-top: 25px;
}

/* تنسيق عنوان الجدول */
.title {
    font-size: 30px;
    font-weight: bold;
    text-align: left; /* توجيه النص إلى اليسار */
    margin-bottom: 0; /* إزالة المسافة السفلية */
}

/* تنسيق حقل البحث */
.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* لجعل مربع البحث على اليمين */
    margin-bottom: 0; /* إزالة المسافة السفلية */
}

/* تنسيق نص البحث */
.search-label {
    margin-right: 15px; /* مسافة صغيرة بين النص ومربع البحث */
    font-size: 14px;
    color: #1c2229;
}

/* تنسيق مربع البحث */
.search-container input {
    padding-left: 35px;
    border: 1px solid #ccc;
    border-radius: 25px; /* إطار دائري */
    outline: none;
    font-size: 14px;
    width: 300px;
    transition: border-color 0.3s ease;
}

.input-with-icon {
    padding-right: 40px; /* إفساح المجال للأيقونة داخل الحقل */
    height: 35px;
    width: 250px;
    margin-right: 10px;
    background: url('../images/iconsSearch.png') no-repeat 8px center;
    background-size: 15px 15px; /* حجم الأيقونة */
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search-container input:focus {
    border-color: #1c2229; /* تغيير لون الإطار عند التفاعل */
}

.search-container input::placeholder {
    color: #999; /* لون النص داخل مربع البحث */
}

.background-message{
    color: #999999bd;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 300px;
}