

.notification-menu {
  width: 400px;
  padding: 10px;
  height: 400px;
  overflow: auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);

}

.notification-menu strong{
  padding-left: 6px;
  font-size: 16px;
}

.notification-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 0px !important;
  padding: 5px;
}

.notification-icon.success {
  color: green;
  border:0px;
  font-size: 25px;
  background-color: transparent;
  margin: 0;
  position: relative; 
}

.notification-icon.error {
  color: red;
  border:0px;
  font-size: 25px;
  background-color: transparent;
  margin: 0;
  position: relative; 
}

.notification-item .ant-typography {
  font-weight: 600;
}

.notification-item .ant-list-item-meta-description {
  font-size: 12px;
  color: #555;
}

.notification-item .ant-list-item-meta {
  display: flex;
  align-items: center;
  background-color: #F1F1F1;
  border-radius: 50px;
  padding: 10px 10px;
}

.notification-item .ant-list-item-meta-title{
  margin-bottom: 0px !important;
}
.notification-menu::-webkit-scrollbar {
  width: 8px;
}
.notification-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}
.notification-menu::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 6px;
  border: 2px solid #f1f1f1;
}
.notification-menu::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}

/* Mobile-specific styling */
@media (max-width: 768px) {
  .notification-menu {
    width: 100%;
    padding: 10px;
    min-width: 300px;
  }

  .notification-item {
    padding: 5px 10px;
    margin-bottom: 8px;
  }

  /* .notification-icon {
    font-size: 16px;
  }

  .notification-icon.success {
    color: green;
  }

  .notification-icon.error {
    color: red;
  } */
}
