@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Monoton:wght@200;300;400;500;600;700;800&display=swap');

.AssignTransporter{
    font-family: 'Poppins', sans-serif;
    color: #1c2229;
}
.closeButtonStyle{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
.transporterDialog , .companyDialog{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.transporterDialogContent , .companyDialogContent{
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
}
.transporterDialogContent label{
    cursor: pointer;
}
.transporterDialogContent p{
    margin: 15px 0;
    font-size: 1rem;
}
.transporterDialogContent hr{
    border: 0.5px solid #9c9995;
    width: 100%; 
    margin-bottom: 10px;
    margin-top: 5px;
}
.AssignTransporter select{
    position: absolute;
    height: 4%;
    width: 25%;
    font-size: 15px;
    border: 1px solid #1c2229;
    border-radius: 5px;
    cursor: pointer;
}
.custom-range-picker{
    z-index: 9999;
}
.ant-picker{
    border-color: #1c2229;
}
.ant-picker:hover{
    border-color: #1c2229; 
}
.ant-picker-input{
    color: #1c2229; 
}
.companyDialogContent label{
    display: flex;
    justify-content: space-between; /* توزيع المساحة بين العناصر */
    align-items: center;
    font-size: 1rem;
    margin: 15px 0;
    cursor: pointer;
}
.companyDialogContent hr{
    border: 0.5px solid #9c9995;
    width: 100%; 
}
.price{
    margin-left: auto; /* دفع السعر إلى اليمين */
    margin-right: 10px;
}
.button-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 0px;
}
.backButtonStyle , .sendButtonStyle{
    background-color: #1c2229;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.nextButtonStyle{
    position: absolute;
    background-color: #1c2229;
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    right: 15px;
    bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.nextButtonStyle:hover , .backButtonStyle:hover , .sendButtonStyle:hover{
    background-color: #595a5b;
}

@media screen and (max-width: 768px){
    .transporterDialog , .companyDialog{
        padding: 10px; 
    }  
    .transporterDialogContent , .companyDialogContent{
        padding: 17px 25px; 
        font-size: 14px;
    }
    .AssignTransporter select{
        font-size: 13px;
    }
    .button-container{
        padding: 15 0px;
    }
    .nextButtonStyle , .backButtonStyle , .sendButtonStyle{
        right: 5px; 
        bottom: 10px; 
        font-size: 12px;
    }
    .closeButtonStyle{
        top: 5px; 
        right: 5px; 
        font-size: 12px;
    }
}