/* ===== Google Font Import ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.main-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c2229; /* #4070f4*/
} 
.container{
    position: relative;
    max-width: 490px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container .form{
    padding: 27px;
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}
.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #1c2229; 
    border-radius: 25px;
}
.form .input-field, .select-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 15px;
}
.input-field input, .select-field select{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid),
.select-field select:is(:focus, :valid){
    border-bottom-color: #1c2229;
}
.input-field i, .select-field i{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid) ~ i,
.select-field select:is(:focus, :valid) ~ i{
    color: #1c2229;
}
.select-field select:focus, .select-field select:valid{
    color: #1c2229;
}
.select-field select{
    color: #828080;
    cursor: pointer;
}
.input-field i.showHidePw{
    left: 94%;
    cursor: pointer;
}
.form .button{
    margin-top: 25px;
}
.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color:#1c2229; 
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input:hover{
    background-color: #34373a;
}
.form a.text{
    color: #1c2229;
    text-decoration: none;
    text-decoration: underline;
}
.form .login-signup, .Registration-signin{
    margin-top: 25px;
    text-align: center;
}
.form a.text:hover{
    color: blue;
}
.success{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #dff0d8;
    border: 1px solid #4cae4c;
    padding: 10px;
    margin-bottom: 10px;
    color: #4cae4c;
}
.error{
    font-size: 14px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f2dede;
    border: 1px solid #d9534f;
    padding: 10px;
    color: #d9534f;
}
.container footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 14px;
    z-index: 9999;
    overflow-y: auto; 
    background-color: transparent;
}

@media (max-height: 600px) {
    footer {
        position: static;
    }
}