.edit-account-content {
    width: 800px;
    margin: auto;
    margin-top: 3%;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #1c2229;
}
.edit-account-content #edit-account-title {
    text-align: center;
    margin-bottom: 3%;
}
.edit-account-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}
.edit-account-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edit-account-avatar {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
.edit-account-details {
    flex-grow: 1;
    margin-left: 20px;
    text-align: left;
}
.edit-account-details label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}
.edit-account-details input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.edit-account-details input:focus {
    border-color: #1c2229;
}
.edit-adress-detail{
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 5px;
    color: #1c2229;
    display: flex;
    flex-direction: row;
    width: 100%;  
}
.edit-address-text{
    width: 80%;
    display: flex;
    justify-content:left;
    align-items: center;
    padding-left:20px ;
    text-transform: capitalize;
}
.edit-no-address-text{
    width: 80%;
    display: flex;
    justify-content:left;
    align-items: center;
    padding-left:20px ;
}
.edit-no-address-text p{
    margin-top: 0px;
}
.edit-address-button {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    width: 20%;
}
.edit-address-button button{
    height:30px;
    background-color: #d6d5d5;
    border: 0.5px solid #555;
    color: #555;
    padding: 0px 10px;
    cursor: pointer;
}
.edit-address-button button:hover {
    background-color: #c7c6c6;
    border: 0.5px solid #000000b1;
    color: #000000b1;
}
.edit-account-buttons {
    display: flex;
    justify-content: right;
    gap: 20px; 
    margin-top: 35px; 
}
.edit-account-buttons .edit-account-save-button,
.edit-account-buttons .edit-account-cancel-button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    flex: 1;
    max-width: 130px; 
}
.edit-account-buttons .edit-account-save-button {
    background-color: #1c2229;
    color: white;
    border: none;
}
.edit-account-buttons .edit-account-cancel-button {
    background-color: white;
    color: #1c2229;
    border: 1px solid #1c2229;
}
.edit-account-buttons .edit-account-save-button:hover{
    background-color: #f4d53f !important;
    color: #fff !important;
}
.edit-account-buttons .edit-account-cancel-button:hover{
    color: #f4d53f !important;
    border: 1px solid #f4d53f !important;
}