.shoppingBasket{
    font-family: "Poppins", sans-serif;
    color: #1c2229;
    padding: 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

.background-message {
    color: #999999bd;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 250px;
}
.Basket-container {
    border: 1px solid #ccc;
    border-radius: 7px;
    margin: 10px 35px;
    margin-top: 40px;
    padding: 8px 18px; 
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    display: flex; 
    flex-direction: column; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Basket-container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.Basket-content {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.Basket-contnt-info p {
    margin: 0 0 0 70px; 
    padding: 3px;
}

.img-container {
    margin-top: 15px;
    margin-right: 10px;
    display: flex; 
    align-items: center; 
}

.Basket-title p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.img-container p {
    margin: 0 20px;
    font-size: 16px;
    font-weight: bold;
}
.img-container span {
    font-weight: normal;
    text-transform: capitalize;
}

.supplier-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Basket-contnt-info p{
    font-size: 16px;
    margin-bottom: 5px;
}

.button-view-container {
    margin-left: auto; 
    margin-top: 0px;
    padding: 0px;
}

.button-view-details button {
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    background-color: #1c2229;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-bottom: 4px;
}

.button-view-details button:hover {
    background-color: #f4d53f;
    color: #fff;
}

.breadcrumb {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 17px;
    color: #555;
}

.breadcrumb a {
    text-decoration: none;
    color: #555; 
    border-bottom: 1px solid #ccc; 
}

.breadcrumb a:hover {
    color: #1c2229; 
}

.breadcrumb span {
    color: #555; 
}

.breadcrumb .current {
    color: #1c2229;
    pointer-events: none;
    text-decoration: none; 
}

.detail-container{
    border: 0.5px solid #d6d6d7;
    margin: 50px;
    z-index: 1;
}
.detail-container-title{
    font-size: 20px;
    font-weight:bold ;
    text-align: left;
    padding: 10px 30px;
    margin-bottom: 20px;
}
.supplier-name{
    color: #595a5b;
    font-size: 16px;
    font-weight:normal ;
    margin-left: 10px;
    margin-top: 10px;
}
/* The style of the displayed items on the shopping Basket details page. */
.Basket {
    display: flex;
    flex-direction: column; 
    gap: 15px;
    padding: 0px 50px;
}

.Basket-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 0px;
    background-color: #f9f9f9;
}

.Basket-item-image {
    border:1px solid #555;
    background-color: #555;
    width: 200px;
    height: 200px;
    border-radius: px;
    margin-right: 50px;
    margin-bottom: auto;
    margin-top: 10px;
}

.Basket-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Basket-item-name {
    font-size: 18px;
    font-weight: bold;
}

.Basket-item-price{
    font-size: 17px;
    /*color: #555;*/
    color: #f4d53f;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.Basket-item-total{
    margin-left: auto;
    margin-top: 0px; 
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
}
.required {
    color: red; 
    margin-right: 4px; 
}
.Basket-item-type, .Basket-item-quantity {  
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
    margin-left: 10px;
    gap: 8px;
    font-size: 15.5px;
}

.Basket-item-select{
    padding: 0px;
    border-radius: 4px;
    border: 1px solid #ccc;

}

.quantity-button-container{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}
.quantity-value{
    background-color: #f5f4f4;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 13px;
    padding-top: 3.5px;
    padding-bottom: 6px;
    font-size: 16px;
}
.quantity-button {
    background-color: #f0f0f0;
    color: #1c2229;
    padding: 6px 10px;
    cursor: pointer;
}

.quantity-button:hover{
    background-color: #cbcaca;
    border-radius: 0px;
    color: #1c2229;
}

.remove-button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 26px;
    cursor: pointer;
    padding: 0px;
    margin-bottom: auto;
}

.remove-button:hover {
    color: #1c2229;
    background-color: white
}
.order-summary {
    border: 1px solid #ccc;
    border-radius: 0px;
    background-color: #f9f9f9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 50px;
}

.order-summary-title {
    text-align: start;
    font-size: 19px;
    font-weight: bold;
}
.order-total {
    display: flex;
    justify-content: space-between;
    padding: 3px 18px;
}

.total-title {
    font-size: 16px;
    font-weight: normal;
    color: #555;
}

.total-price {
    font-size: 18px;
    font-weight: bold;
}
.order-summary .divider {
    border: none;
    border-top: 1px solid lightgray;
    margin: 0px 18px;
}  

.order-summary-button {
    width: 100%;
    padding: 0px 18px;
}

.Checkout-button {
    width: 100%;
    padding: 8px 12px;
    background-color: #1c2229;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.Checkout-button:hover {
    background-color: #f4d53f;
    color: #fff;
}

/* Complate order file */
.complate-page-container{
    margin: 50px;
}

.complate-total-title {
    font-size: 17px;
    font-weight: bold;
    color: #1c2229;
}

.user-info{
    border: 1px solid #ccc;
    border-radius: 0px;
    background-color: #f9f9f9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 50px;
}

.user-info-step{
    border: 1px solid #ccc;
    border-radius: 0px;
    background-color: #cccccc4d;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin: 10px 50px;
}

.step-num{
    width: 15%;
    justify-content: start;
    align-items: start;
    
}

.step-num p{
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #1c2229; 
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0px;
}

.step-content{
    width: 75%;
}

.step-title{
    color: #1c2229;
    font-weight: bold;
    font-size: 18px;
}

.adress-detail{
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 3px;
    color: #555;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.address{
    width: 80%;
    display: flex;
    justify-content:left;
    align-items: center;
    padding-left:20px ;
    text-transform: capitalize;
}

.no-address{
    width: 80%;
    display: flex;
    justify-content:left;
    align-items: center;
    padding-left:20px ;
}

.no-address p{
    font-size: 14;
    color: #595a5b;
    margin-top: 0px;
}

.edit-address {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    margin: 10px;
    width: 20%;
}

.edit-address button{
    height:30px;
    background-color: #d6d5d5;
    border: 0.5px solid #555;
    color: #555;
    padding: 0px 10px;
    cursor: pointer;
}

.edit-address button:hover {
    background-color: #c7c6c6;
    border: 0.5px solid #000000b1;
    color: #000000b1;
}

.step-detail {
    color: #555;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pay-method {
    background-color: #fff;
    padding: 8px 10px;
    border:  1px solid #595a5b57;
    width: 25%;
    border-radius: 9px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.pay-method input{
    width: 18px;
    height: 18px;

}

.pay-method img{
    width: 60px;
    height: 20px;
}

.card-form{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
}

.card-form label{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #1c2229;
}

.card-form input{
    padding: 8px;
    color: #555;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 1px;
}

.card-num{
    width: 50%;
}

.card-date{
    width: 30%;
}

.card-code{
    width: 18%;
}

.pay-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Checkout-button {
    width: 100%; 
    padding: 10px;
    background-color: #1c2229;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.Checkout-button:hover {
    background-color: #f4d53f;
    color: #fff;
}

@media (max-width: 768px) {
    .Basket-container, .order-summary, .user-info, .user-info-step {
        margin: 10px;
        padding: 10px; 
    }
    .Basket {
        padding: 0 20px; 
    }
    .Basket-item {
        flex-direction: column; 
        align-items: flex-start; 
    }
    .Basket-item-image {
        width: 100%; 
        height: auto; 
        margin-right: 0;
    }
    .Basket-item-details {
        gap: 5px; 
    }
    .step-num p {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
    .step-content {
        width: 100%;
    }
    .pay-method {
        width: 100%; 
        flex-direction: column; 
        align-items: flex-start; 
    }
    .card-form {
        flex-direction: column;
        gap: 10px; 
    }
    .card-num, .card-date, .card-code {
        width: 100%;
    }
    .remove-button {
        font-size: 20px;
    }
}