.shoppingCart{
    font-family: "Poppins", sans-serif;
    color: #1c2229;
    padding: 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 40px;
}

.background-message {
    color: #999999bd;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 250px;
}
.cart-container {
    border: 0.5px solid #7575755b;
    border-radius: 7px;
    margin: 10px 50px;
    margin-top: 20px;
    padding: 8px 18px; 
    background-color: #8281810e;  
    display: flex; /* استخدم flex بدلاً من grid */
    flex-direction: column; 
}

.cart-content {
    display: flex; /* استخدم flex */
    flex-direction: column; /* اجعل المحتوى عمودياً */
    align-items: flex-start; /* محاذاة المحتوى إلى اليسار */
}

.cart-contnt-info p {
    margin: 0 0 0 70px; /* تعديل المسافة لتناسب التصميم */
    padding: 3px;
}

.img-container {
    margin-top: 15px;
    margin-right: 10px;
    display: flex; 
    align-items: center; 
}
.cart-title p{
    font-size: 20px;
    font-weight: bold;
}
.img-container p {
    margin: 0 20px;
    font-size: 16px;
    font-weight: bold;
}

.supplier-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cart-contnt-info p{
    font-size: 14px;
}

.button-container {
    margin-left: auto; /* يجعل الزر يظهر في اليمين */
    margin-top: 0px; /* إضافة مسافة بين الزر والمحتوى */
    padding: 0px;

}


button {
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    background-color: #1c2229;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #595a5b;
}

.breadcrumb {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

.breadcrumb a {
    text-decoration: none;
    color: #555; /* الأزرق الغامق للروابط السابقة */
    border-bottom: 1px solid #ccc; /* إضافة خط تحت الرابط */
}

.breadcrumb a:hover {
    color: #1c2229; /* خط تحت الرابط عند التمرير */
}

.breadcrumb span {
    color: #555; /* اللون الرمادي للنص */
}

/* العنصر الحالي في الـ Breadcrumb */
.breadcrumb .current {
    color: #1c2229; /* الأزرق الغامق للعنصر الحالي */
    pointer-events: none; /* تعطيل القدرة على النقر */
    text-decoration: none; /* إزالة الخط السفلي */
}
