.shoppingCart{
    font-family: "Poppins", sans-serif;
    color: #1c2229;
    padding: 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

.background-message {
    color: #999999bd;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 250px;
}
.cart-container {
    border: 0.5px solid #7575755b;
    border-radius: 7px;
    margin: 10px 50px;
    margin-top: 20px;
    padding: 8px 18px; 
    background-color: #8281810e;  
    display: flex; /* استخدم flex بدلاً من grid */
    flex-direction: column; 
}

.cart-content {
    display: flex; /* استخدم flex */
    flex-direction: column; /* اجعل المحتوى عمودياً */
    align-items: flex-start; /* محاذاة المحتوى إلى اليسار */
}

.cart-contnt-info p {
    margin: 0 0 0 70px; /* تعديل المسافة لتناسب التصميم */
    padding: 3px;
}

.img-container {
    margin-top: 15px;
    margin-right: 10px;
    display: flex; 
    align-items: center; 
}
.cart-title p{
    font-size: 20px;
    font-weight: bold;
}
.img-container p {
    margin: 0 20px;
    font-size: 16px;
    font-weight: bold;
}

.supplier-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cart-contnt-info p{
    font-size: 14px;
}

.button-container {
    margin-left: auto; /* يجعل الزر يظهر في اليمين */
    margin-top: 0px; /* إضافة مسافة بين الزر والمحتوى */
    padding: 0px;

}


button {
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    background-color: #1c2229;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #595a5b;
}

.breadcrumb {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 16px;
    color: #555;
}

.breadcrumb a {
    text-decoration: none;
    color: #555; /* الأزرق الغامق للروابط السابقة */
    border-bottom: 1px solid #ccc; /* إضافة خط تحت الرابط */
}

.breadcrumb a:hover {
    color: #1c2229; /* خط تحت الرابط عند التمرير */
}

.breadcrumb span {
    color: #555; /* اللون الرمادي للنص */
}

/* العنصر الحالي في الـ Breadcrumb */
.breadcrumb .current {
    color: #1c2229; /* الأزرق الغامق للعنصر الحالي */
    pointer-events: none; /* تعطيل القدرة على النقر */
    text-decoration: none; /* إزالة الخط السفلي */
}

.detail-container{
    border: 0.5px solid #d6d6d7;
    margin: 50px;
    z-index: 1;
}
.detail-container-title{
    font-size: 20px;
    font-weight:bold ;
    text-align: left;
    padding:10px 30px;
    margin-bottom: 20px;
}
.supplier-name{
    color: #595a5b;
    font-size: 16px;
    font-weight:normal ;
    margin-left: 10px;
}
/* The style of the displayed items on the shopping cart details page. */
.cart {
    display: flex;
    flex-direction: column; 
    gap: 16px;
    padding: 0px 50px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 0px;
    background-color: #f9f9f9;
}

.cart-item-image {
    border:1px solid #1c2229;
    width: 150px;
    height: 150px;
    border-radius: 0px;
    margin-right: 50px;
    margin-bottom: auto;
}

.cart-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cart-item-name {
    font-size: 18px;
    font-weight: bold;
}

.cart-item-price{
    font-size: 16px;
    color: #555;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.cart-item-total{
    margin-left: auto; /* يجعل الزر يظهر في اليمين */
    margin-top: 0px; /* إضافة مسافة بين الزر والمحتوى */
    padding: 0px;
    font-size: 18px;
    
}
.required {
    color: red; /* تغيير لون النجمة إلى الأحمر */
    margin-right: 4px; /* إضافة مسافة صغيرة بعد النجمة */
}
.cart-item-type, .cart-item-quantity {  
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
    margin-left: 10px;
    gap: 8px;
}

.cart-item-select {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.quantity-button-container{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}
.quantity-value{
    background-color: #f5f4f4;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 13px;
    padding-top: 3.5px;
    padding-bottom: 6px;
    font-size: 16px;
}
.quantity-button {
    background-color: #f0f0f0;
    color: #1c2229;
    padding: 6px 10px;
    cursor: pointer;
}

.quantity-button:hover{
    background-color: #cbcaca;
    border-radius: 0px;
    color: #1c2229;
}

.remove-button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 24px;
    cursor: pointer;
    padding: 0px;
    margin-bottom: auto;
    
}

.remove-button:hover {
    color: black;
    background-color: white
}

/* Order summary in Shopping cart detail */
.order-summary{
    justify-content: space-between;
    align-items: end;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 0px;
    background-color: #f9f9f9;
    margin: 10px 50px;
    display: flex; 
    flex-direction: column; 
}
.order-summary-title{
    font-weight: bold;
    font-size: 17px;
    margin: 20px;
    margin-bottom: 0px;
    
}
.order-total{
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
    margin-bottom: 0px;
    align-self: center;
    
}
.order-total span{
    color: #555;
    padding-right: 300px;
}


.order-summary-button{
    font-size: 16px;
    align-self: end;
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #1c2229;
    color: #fff;
}


.order-summary-button button:hover {
    background-color: #595a5b;
}
